body {
    background-color: #f8f9fa;
}

.content-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    vertical-align: middle;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-delete i {
    margin-right: 5px;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}