body {
    background-color: #f8f9fa;
}

.rating-star {
    font-size: 2rem;
    color: gray;
    /* Màu mặc định */
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.1s ease;
    /* Hiệu ứng chuyển màu */
}

.rating-star:hover {
    color: #ffc107;
    /* Màu vàng khi hover */
}

.rating-star.selected {
    color: #ffc107;
    /* Màu vàng khi đã chọn */
}

.submit-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.account-content form {
    display: initial;
}