.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.table th,
.table td {
    vertical-align: middle;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.card-header h5 {
    color: #007bff;
}

.nav-tabs .nav-link.active {
    color: #007bff;
}

.nav-tabs .nav-link {
    color: #000;
}

/* Ẩn ảnh khi không di chuột vào */
.image-preview {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    /* Điều chỉnh kích thước ảnh theo ý muốn */
}

/* Khi rê chuột vào, ảnh sẽ xuất hiện */
.image-link:hover+.image-preview {
    display: block;
}

/* Điều chỉnh kích thước ảnh khi xuất hiện */
.image-preview img {
    max-width: 100%;
    height: auto;
}