

/* Form quên mật khẩu */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: var(--font-size-lg);
}

form button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 12px;
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: darken(var(--primary-color), 10%);
}

